:root{
  --primary-green: #4F6F52;
  --primary-background: #F5EFE6;
}

@font-face {
  font-family: recoleta;
  src: url("assets/fonts/Recoleta-RegularDEMO.otf") format("opentype");
  }

body {
  margin: 0;
  font-family: "Montserrat",sans-serif;
  background-color: var(--primary-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: recoleta;
  font-size: 28px;
  margin: 0;
}

ul{
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}


.no_display{
  display: none;
}



.web_body{
  display: flex;
}

.page{
  padding: 3em;
  width: 100%;
}

