:root{
  --primary-green: #4F6F52;
  --primary-green-hover: #234d28;
  --primary-green-dark: #1A4D2E;
  --primary-green-dark-hover: #052512;
  --primary-background: #F5EFE6;
  --secondary-background: #E8DFCA;
  --secondary-red: #A81D44;
  --secondary-red-hover: #5c1126;
}

@font-face {
  font-family: recoleta;
  src: url("assets/fonts/Recoleta-RegularDEMO.otf") format("opentype");
  }

body {
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  background-color: var(--primary-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: recoleta;
  font-size: 28px;
  margin: 0;
  color: var(--primary-green-dark);
}

ul{
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}


.no_display{
  display: none;
}

hr{
  border-width: 1px;
  border-color: var(--primary-green-dark);
}

.web_body{
  display: flex;
}

.page{
  padding: 3em;
  width: 100%;
}

button{
  color: white;
  background-color: var(--primary-green-dark);
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 1ch;
  cursor: pointer;
}


.page_background_decor{
  position: fixed;
  z-index: -100;
  bottom: -20%;
  width: 100%;
  opacity: 0.3;
}