table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid black;
}

th{
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;

    /* border: 1px solid black; */
}

.header-label-product{
    width: 15%;
}

.header-label-name{
    width: 45%;
}

.header-label-qty,
.header-label-price,
.header-label-total{
    width: 15%;
}


td{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart_table-row-img img{
    width: 6ch;
    height: 6ch;
}

.cart_table-row-button{
    margin-top: 5px;
    background-color: var(--secondary-red);
}

.cart_table-row-button:hover{
    background-color: var(--secondary-red-hover);
}

.cart_table-row-qty input{
    height: 4ch;
    width: 50%;
    text-align: center;
    background-color: var(--primary-background);
    border-width: 2px;
    border-radius: 10px;
    font-family: "Montserrat",sans-serif;
}

.footer-row{
    border: none;
}

.footer-label-subtotal{
    font-size: 18px;
}

.footer-subtotal-value{
    font-weight: bold;
}

.footer-button-checkout{
    height: 5ch;
    width: 100%;
}

.footer-button-checkout:hover{
    background-color: var(--primary-green-dark-hover);
}

