.nav_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary-green);
    height: 100vh;
    width: 8ch;
    z-index: 10;
    border-radius:  0 3ch 3ch 0;
    align-items: center;
    padding-right: 1ch;
}

.nav_bar_hidden{
    visibility: hidden;
    position: relative;
    z-index: 0; 
}

.nav_bar-buttons{
    padding-top: 2ch;
}

.nav_bar-button{
    padding: 1ch;
    display: flex;
}

.nav_bar-selected{
    position: absolute;
    left: 10px;
    width: 3px;
    height: 4.5ch;
    background-color: white;
}

.nav_bar-label{
    font-family: recoleta;
    color: white;
    padding-bottom: 5ch;
    user-select: none;
    cursor: pointer;
}

.nav_bar-title{
    font-size: 2rem;
}
