.profile_page-main-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.profile-page-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 25px;
    margin-right: 5px;
    overflow: hidden;
    width: 25%;
    border-radius: 10px;
    background-color: var(--primary-green);
    color:var(--primary-background);

    text-align: center;

}

.profile-page-left .profile-picture{
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; 

}
.profile-page-right{
    width: 75%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.profile-page-right div{
    height: 100%;
    padding: 25px;  
    border-radius: 10px;
    background-color: var(--primary-green);
}

.profile-page-gen-info, .profile-page-right h1{
    color:var(--primary-background);

}
